$base-teal: #1ba39c;
$base-purple: #502669;

body {
    background-color: #1a2441;
    font-size: 16px;
}



@mixin flex-me ($x, $y){
	display: flex;
	align-items: $y;
	justify-content: $x;
}


ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

body, p, li {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #444;
  font-weight: 400;
}

a {
  font-family: "Open Sans", Arial, sans-serif;
  color: $base-teal;
  text-decoration: none;
}

p a {
  color: $base-teal;
  text-decoration-line: underline;
  text-decoration-style: dotted
}

p a:focus,
p a:hover {
  color: #1ba39c;
  text-decoration: none
}


em {
  background: #cce9e6;
  padding: 3px;
  font-style: italic;
  font-weight: 700
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bree-serif, serif;
  font-weight: 700
}


h1 {
  font-size: 38px;

}

h2 {
  font-size: 32px;
}

h3,
h3 a {
  line-height: 40px;
  font-size: 24px
}

h4 {
  color: $base-purple;
  text-align: center;
  font-size: 20px;
  margin: 0 0 40px
}

h5 {
  color: $base-purple;
  text-align: center;
  font-size: 18px;
  margin: 0 0 20px
}

h6 {
  font-size: 16px;
  margin: 0 0 20px;
  color: $base-purple;
}

@media (max-width:600px) {
  h1 {
      font-size: 32px
  }
  h2 {
      font-size: 26px
  }
  h3,
  h3 a {
      font-size: 21px
  }
  h4 {
      font-size: 18px
  }
  h5 {
      font-size: 16px
  }
  h6 {
      font-size: 14px
  }
}

#app {
    display: grid;
    max-width: 100%;
    grid-template-columns: 60% 1fr;
    grid-gap: 15px;
    padding: 30px;
    background-color: #1a2441;
	grid-template-rows:
    4rem
    auto;
	// 70vh;
	grid-template-areas:
		"area list"
        "editor list";
    
    @media (max-width: 1200px){
        padding: 15px;
        grid-gap: 15px;
    }
        
    @media (max-width: 800px){
        grid-template-columns: 100%;
        grid-gap: 15px;
        padding: 30px;
        grid-template-rows: 10vh 60vh auto;
        grid-template-areas:
        "area"
        "list"
        "editor";
    }
		
	& .area {
        grid-area: area;
        position: relative;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .apptitle {
            text-align: center;
            padding: 0.8rem;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: fit-content;

            & h1 {
                margin: 0;
            } 
        }

        & .appmenu {
            padding: 5px;
            margin-top:1rem;
            display: flex;
            & .menuIcon {
                width: 50px;
                fill: white;
                margin-left: 1rem;
                cursor: pointer;
                :hover {
                    transform: scale(1.02)
                }
            }

            & #add {

            } 
        }
	};
	
	& #list {
		grid-area: list;
        background-color: white;
        width: auto;
        padding: 1em;
        overflow: scroll;
        border-radius: 1rem;
        & select {
            width: 100%;
            min-width: 15em;
            max-width: 22em;
            margin: 0 auto 2rem auto;
            border: 2px solid #502669;
            border-radius: 0.25em;
            padding: 0.25em 0.5em;
            font-size: 1.15rem;
            cursor: pointer;
            line-height: 1.1;
            background-color: #fff;
            background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
        }

        & label-card, text-card {
            cursor: pointer;
        }

        & text-card {
            margin: 5px;
        }

        & kclsu-search {
            margin: auto;

            & span.noresults {
                display: none;
            }
        }
	};
		
	& #editor {
        grid-area: editor;
        background-color: white;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        border-radius: 1rem;
        & .alertbox {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0.5rem;

            & p {
                font-size: 0.9rem;
                padding: 0.1rem 0.3rem;
            }
        }
        & .warning p {
            background-color: #fffbe6;
            border: 1px solid #ffe58f;
        }
    };
    
};

#formsection {
    display: flex;
    align-items: stretch;
    width: 100%;

    @media (max-width: 800px){
        flex-wrap: wrap;
    }

    & #fileinputs {
        width: 40%;
        height: auto;
        padding: 15px;

        @media (max-width: 800px){
            width: 100%;
        }
        
        & .document_thumbnail{
            width: 100%;
            height: 80px;
            margin: auto;
            margin-bottom: 0.6em;
        }

        & .image_thumbnail{
            width: 100%;
            height: auto;
            max-height: 800px;
            margin: auto;
        }

        & .flex-end-center{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center;  
            height: auto;
            margin-bottom: 2em;
        }

    }

    & #textinputs {
        width: 60%;
        
        padding: 1em;
        @media (max-width: 800px){
            width: 100%;
        }
        
        & div {
            display: flex;
            justify-content: space-between;
            position: relative; 
            & label, input {
                display: block;
                font-size: 17px;
                margin: 1em 0.5em
            }

        
            & input {
                width: 70%;
                border: none;
                border-bottom: 2px solid $base-teal;

                .validationerror {
                    border: 2px solid red;
                }
            }

            & textarea {
                width: 70%;
                font-size: 17px;
                border-top: none;
                border-right: none;
                border: 2px solid $base-teal;
                margin-top: 0.5em;
            }

            & select {
                height: auto;
                margin-top: 1em;
                width: 200px;
            }
        }

        .flex-center-enter {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: auto;
        }
        .flex-end-center{
            display: flex;
            flex-wrap: wrap;
            justify-content:flex-end;
            align-items: center;  
            height: auto;
            
            & kclsu-button {
                margin-bottom: 30px;
            }
        }

    }
}

form input[type=submit] {
    cursor: pointer;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 3px;
    position: relative;
    font-size: 14px;
    box-shadow: rgb(0 0 0 / 30%) 4px 3px 9px -2px;
    transition-duration: 1s;
    background-color: white;
    border: 1px solid $base-purple;
    color: $base-purple;
    margin-left: 1em;

    &:hover {
        border: 1px solid $base-purple;
        background-color: $base-purple;
        color: white;
    }
}



.errorblock {
    display: block;
    & li {
        font-size: 16px;
        margin: 0;
        padding: 0;

        &::first-letter {
            text-transform: capitalize;
        }
    }
}

.hide {
    display: none;
}
